/* Importa uma fonte customizada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

/* Altera o estilo do corpo da página HTML */
body {
    /* Altera a cor de fundo */
    background-color: rgb(253, 234, 237);
}

/* Altera o estilo do título (elemento HTML "h1") */
h1.titulo{
    /* Usa a fonte importada do Google Fonts */
    font-family: "Pinyon Script", cursive;
    /* Altera a cor da fonte */
    color:rgb(255, 138, 157);
}

/* Altera o estilo do cartão (caixa de texto e botão de adicionar tarefa) */
.card {
    background-color: #fde;
}

/* Altera o estilo da caixa de texto "Adicionar nova tarefa" */
input[type="text"] {
    background-color: #ffe2f1;
    border: 1px solid pink;
}

/* Altera o estilo do texto "Adicionar nova tarefa" na caixa de texto de adicionar tarefas */
input[type="text"]::placeholder {
    color: #59555C;
}

/* Altera o estilo da caixa de texto "Adicionar nova tarefa" ao clicar nela */
input[type="text"]:focus {
    background-color: rgb(253, 209, 216);
    color: #59555C ;
    /* Altera a cor da borda externa ao selecionar o campo */
    border-color: rgb(255, 118, 141);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px  rgb(253, 209, 216);
    outline: 0 none;
}

/* Altera o estilo do botão "Adicionar" nova tarefa */
#btn-nova-tarefa {
    background-color: pink;
    color: white;
    border: 1px solid pink;
}

/* Altera o estilo do botão "Adicionar" nova tarefa ao passar o mouse sob ele */
#btn-nova-tarefa:hover {
    background-color: white;
    color: pink;
}

/* Altera o estilo das tarefas adicionadas */
.list-group-item {
    /* Altera a cor das tarefas */
    color:#59555C ;
    background-color: rgb(253, 209, 216) ;
    border: 1px solid pink;
}

/* Altera o estilo do botão de Concluir */
.btn-concluir {
    background-color:rgb(89, 170, 109);
}

/* Altera o estilo do botão de Excluir */
.btn-excluir {
  /*  background-color:rgb(255, 68, 68); */
}

/* Feedback visual das operaçoes de arrasta e solta (drag & drop) de tarefas */
.dragging {
    opacity: 0.5;
    background: #e9ecef;
}