/* Importa uma fonte customizada do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Bitcount+Single+Ink:wght@100..900&display=swap');

/* Altera o estilo do corpo da página HTML */
body {
    /* Altera a cor de fundo */
    background-color: pink;
}

/* Altera o estilo do título (elemento HTML "h1") */
h1 {
    /* Usa a fonte importada do Google Fonts */
    font-family: "Bitcount Single Ink";
    /* Altera a cor da fonte */
    color: black;
}

/* Altera o estilo do cartão (caixa de texto e botão de adicionar tarefa) */
.card {
    background-color: #fde;
}

/* Altera o estilo da caixa de texto "Adicionar nova tarefa" */
input[type="text"] {
    background-color: #ffe2f1;
    border: 1px solid pink;
}

/* Altera o estilo do texto "Adicionar nova tarefa" na caixa de texto de adicionar tarefas */
input[type="text"]::placeholder {
    color: #59555C;
}

/* Altera o estilo da caixa de texto "Adicionar nova tarefa" ao clicar nela */
input[type="text"]:focus {
    background-color: black;
    color: white;
    /* Altera a cor da borda externa ao selecionar o campo */
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

/* Altera o estilo do botão "Adicionar" nova tarefa */
#btn-nova-tarefa {
    background-color: pink;
    color: white;
    border: 1px solid pink;
}

/* Altera o estilo do botão "Adicionar" nova tarefa ao passar o mouse sob ele */
#btn-nova-tarefa:hover {
    background-color: white;
    color: pink;
}

/* Altera o estilo das tarefas adicionadas */
.list-group-item {
    /* Altera a cor das tarefas */
    color: white;
    background-color: #ffe2f1;
    border: 1px solid pink;
}

/* Altera o estilo do botão de Concluir */
.btn-success {
    background-color: blue;
}

/* Altera o estilo do botão de Excluir */
.btn-danger {
    background-color: white;
}